HTML {
  background: #D046cd;
}

@font-face {
  font-family: Retrolight;
  src: url('../src/retrolight-retro-neon-display-2021-09-01-18-12-37-utc/Retrolight.woff2') format('woff2'),
       url('../src/retrolight-retro-neon-display-2021-09-01-18-12-37-utc/Retrolight.woff') format('woff');
}

.header, #nav, .footer, #searched {
  font-family: Retrolight;
  background: linear-gradient(#140DA6, #F507f1);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
  width: 100%
}

#search {
  font-family: Retrolight;
  background: linear-gradient(yellow, #07f5f1);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  padding-bottom: 50px;
  text-align: center;
  font-size: 50px;
  vertical-align: middle;
  margin: 0;
}

.header {
  font-size: 50px;
}

#site-title {
  margin: 0;
  padding: 0px;
}

#nav {
  font-size: 30px;
}

.header-img {
  align-items: center;
  padding-bottom: 25px;
}

#navbar {
  justify-content: right;
}

#jumboSearch {
  background: #D046cd;
}

.form-row {
  display: flex;
  flex-direction: row;
}

#submit, #save {
  padding: 11.5px 7px;
  border-radius: 3px;
}

#submit {
  background: yellow;
  border-color: yellow;
  color: #1d1d1d;
}

#save {
  background: #f851f5;
  border-color: #f851f5; 
}

.navbar-parent {
  background: white;
}

#root {
  background: #07f5f1;
}

#card-holder {
  border-style: solid;
  border-color: #F507f1;
}

.card-columns {
  padding-bottom: 100px;
}

#searched-text {
  background: yellow;
  border-radius: 5px;
  margin-bottom: 25px;
  text-align: center;
}

#searched {
  margin-bottom: 25px;
  vertical-align: middle;
  padding-top: 30px;
  font-size: 50px;
}

#card-holder {
  border-width: medium;
}

#card-body {
  text-align: center;
}

#card-title {
  font-family: 'Comic Sans MS', "Comic Sans", "Arial";
}

#footer {
  text-align: center;
  font-size: 20px;
  background: white;
  padding: 15px 0;
  margin-top: 100px;
}

.modal-header {
  background: #07f5f1;
}

#login-header, #signup-header {
  color: #1d1d1d;
}

.modal-body {
  background: yellow;
}

#login-submit, #signup-submit {
  background: magenta;
  border: none;
}

/* Media Queries */
@media screen and (max-width: 958px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  .form-row {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  #search {
    font-size: 45px;
  }
  #searched {
    font-size: 40px;
  }
}

@media screen and (max-width: 675px) {
  .footer {
    font-size: 15px;
  }
}

@media screen and (max-width: 551px) {
  .header {
    font-size: 35px;
  }
  .header-img {
    padding-bottom: 18px;
  }
  #nav {
    font-size: 20px;
  }
  #search {
    font-size: 30px;
    padding-bottom: 15px;
  }
  #searched {
    font-size: 30px;
  }
  .card {
    max-width: 300px;
  }
}